body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

header {
  display: inline-flex;
  position: fixed;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  justify-content: space-between;
}

header.nav span {
  text-decoration: underline;
}

.logo {
  height: 50px;
  padding-left: 10px;
}

nav {
  padding-right: 10px;
}

nav span a {
  color: seashell;
}


{{!-- MISSION --}}

div.container {
  height: 700px;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/Users/noahkardos-fein/code/projects/teacozy/resources/images/img-mission-background.jpg);
}

div.mission_words {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 1200px;
}

{{!-- FEATURED TEA --}}

div.featured_words_content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 1000px;
}

div.words {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.steeping_container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  width: 1000px;
}

.steeping_card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.steeping_card img {
  height: 200px;
  width: 300px;
}
