body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  margin: 0;
  opacity: 0.9;
  text-align: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

a {
  color: seashell;
}

h2, h3, h4 {
  margin: 0;
  padding: 10px;
}


/* HEADER SECTION */

header {
  display: flex;
  height: 69px;
  width: 100%;
  position: fixed;
  background-color: black;
  border-bottom: 1px solid seashell;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.logo {
  height: 50px;
  padding-left: 10px;
}

nav {
  text-align: right;
  flex-grow: 1;
  padding-right: 10px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

/* MAIN SECTION */

.main{
  padding-top: 69px;
  opacity: 0.9;
  width: 1200px;
  margin: auto;
}

/* MISSION */

#mission {
  height: 700px;
  background-image: url(./resources/images/img-mission-background.jpg);
  padding-top: 69px;
}

#mission .content {
  background-color: black;
  width: 100%;
  margin: auto;
}

/* FEATURED TEA */

#featuredtea {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 700px;
  width: 1000px;
  padding-top: 70px;
  padding-bottom: 70px;
  margin: auto;
}

.steeping_card {
  padding: 5px;
}

.steeping_card img {
  height: 200px;
  margin: 10px;
}

/* LOCATIONS CONTENT */

#locations {
  background-image: url(./resources/images/img-locations-background.jpg);
  padding-top: 70px;
  height: 500px;
}

#locations flex-container {
  margin: auto;
  width: 1100px;
}

.flex-container.locations {
  padding-top: 5px;
}

.location_card {
  width: 300px;
  height: 300px;
  padding: 10px;
  margin: 5px 20px;
  background-color: black;
  flex-basis: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* CONTACT */

#contact {
  height: 200px;
}

/* FOOTER */

footer {
  text-align: left;
  padding-left: 20px;
}
